---
import {getCollection} from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";

const blogEntries = await getCollection("blogposts")
export async function getStaticPaths() {
    const blogEntries = await getCollection("blogposts")
    return blogEntries.map((entry) => ({
        params: {slug: entry.slug},
        props: {entry},
    }));
}

const {entry} = Astro.props;
const {Content} = await entry.render();
---

<MarkdownPostLayout frontmatter={entry.data} blogEntries={blogEntries}>
    <Content/>
</MarkdownPostLayout>
