---
import {getCollection} from "astro:content";
import Layout from "../layouts/Layout.astro";
const allPosts = await getCollection("blogposts");
---

<Layout title="Blog">
    <ul>
        {
            allPosts.map((post) => (
                    <li>
                        <a href=`/blog/${post.slug}`>{post.data.title}</a>
                    </li>
            ))
        }
    </ul>
</Layout>
