---
import type {ComponentProps} from "astro/types";
import SocialItem from "./SocialItem.astro";
interface Props {
}

const {} = Astro.props;

const socialItems: Array<ComponentProps<typeof SocialItem>> = [
    {
        icon: "gitlab",
        username: "mhinterdorfer",
        target: new URL("https://gitlab.com/mhinterdorfer")
    },
];
---

<footer>
    <div class="footer-container">
        <div>
            <h2>Social</h2>
            <ul>
                {
                    socialItems.map((item) => (
                            <SocialItem
                                    icon=`logos/${item.icon}`
                                    username={item.username}
                                    target={item.target}
                            />
                    ))
                }
            </ul>
        </div>
        <div>
            <h2>Links</h2>
            <ul>
            </ul>
        </div>
        <div>
            <h2>Internal Ressources</h2>
            <ul>
            </ul>
        </div>
    </div>
</footer>

<style>
    footer {
        position: sticky;
        bottom: -200px; /* Adjust this value to control the initial visibility */
        transition: bottom 0.3s ease;
        width: 100%;
        background: var(--secondary);
        color: var(--on-secondary);
        height: 250px;

    }

    .footer.active {
        bottom: 0;
    }

    .footer-container {
        margin: 12px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 12px;
        font-size: small
    }

    ul {
        list-style: none;
        padding-left: 0;
    }
</style>
