---
interface Props {
}

const {} = Astro.props;
---

<nav>
    <div class="container">
        <h1 class="logo">Hinterdorfer</h1>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/#">Beekeeping</a></li>
        </ul>
    </div>
</nav>

<style>
    nav {
        background: var(--secondary);
        color: var(--on-secondary);
        padding: 10px 0;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .logo {
        margin: 0;
        font-size: 24px;
    }

    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-links li {
        margin-left: 20px;
    }

    .nav-links li:first-child {
        margin-left: 0;
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
    }

    .nav-links a:hover {
        color: #ffcc00;
    }
</style>
