---
import {Icon} from "astro-icon/components";
interface Props {
    icon: string;
    username: string;
    target: URL;
}
const {icon, username, target} = Astro.props;
---

<div class="social-media">
    <Icon name={icon}/>
    <a href={target} class="username">{username}</a>
</div>

<style>
    .social-media {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .username {
        font-weight: bold;
    }

    a {
        color: var(--on-secondary);
    }
</style>
