---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<Navbar/>
<main>
    <slot/>
</main>
<Footer/>
</body>
</html>
<style is:global>
    :root {
        --primary: #ffffff;
        --secondary: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(85, 85, 103, 1) 54%, rgba(81, 118, 125, 1) 100%);
        --on-primary: #000000;
        --on-secondary: #d2cccc;
        --accent-one: rgb(152, 141, 166);
        --accent-two: rgb(58, 234, 164);
    }

    html, body {
        font-family: system-ui, sans-serif;
        background: var(--primary);
        background-size: 224px;
        color: var(--on-primary);
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    code {
        font-family: Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    main {
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
</style>
