---
import type {CollectionEntry} from "astro:content";
import Layout from "./Layout.astro";
interface Props {
    frontmatter: any;
    blogEntries: Array<CollectionEntry<"blogposts">>
}
const {frontmatter, blogEntries} = Astro.props;
---

<Layout title=`Blog | ${frontmatter.title}`>
    <div class="super-container">
        <div class="slot">
            <h1>
                {frontmatter.title}
            </h1>
            <p id="meta-string">{frontmatter.pubDate.toLocaleString()} | {frontmatter.author}</p>
            <slot/>
        </div>
        <aside>
            <div class="elevated-aside-box">
                <h2>Tags</h2>
                <ul>
                    {frontmatter.tags.map((tag: unknown) =>
                            <li>{tag}</li>)}
                </ul>
            </div>
            <div class="elevated-aside-box">
                <h2>Other Articles</h2>
                <ul>
                    {blogEntries.map(entry => (
                            <li><a href=`/blog/${entry.slug}`>{entry.data.title}</a></li>
                    ))}
                </ul>
            </div>
        </aside>
    </div>
</Layout>

<style>
    .elevated-aside-box {
        width: 100%;
        background-color: lightgrey;
        padding: 0 12px 12px;
    }

    .super-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    .slot {
        width: 78%;
    }

    aside {
        display: flex;
        flex-flow: column wrap;
        gap: 24px;
        margin-top: 24px;
    }

    #meta-string {
        font-size: small;
        color: gray;
        margin-top: -20px;
    }
</style>